<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EDTF" version="1.0.5706.22033" targetFramework="net46" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net451" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net46" />
  <package id="HtmlToXamlConverter" version="1.0.5702.26891" targetFramework="net46" />
  <package id="Luminescence.Xiph" version="2.4.1.0" targetFramework="net451" />
  <package id="NAudio" version="1.7.3" targetFramework="net451" />
</packages>